---
---
<footer
    class="absolute w-full mx-auto inset-x-0 bottom-0 mt-auto bg-slate-900 bg-opacity-80 backdrop-blur-sm"
>
    <div
        class="grid grid-cols-2 sm:flex sm:flex-row py-5 px-7 gap-5 sm:justify-start sm:text-xl
            md:justify-between xl:w-[76rem] xl:justify-between md:px-7 xl:mx-auto xl:px-2"
    >
        <section class="flex flex-col">
            <h1 class="font-bold text-2xl mb-0">Contacto</h1>
            <a
                class="hover:text-blue-500"
                href="https://github.com/7jcdev/"
                target="_blank"
            >
                Github
            </a>
        </section>

        <section class="flex flex-col">
            <h1 class="font-bold text-2xl mb-0">Media</h1>
            <a
                class="hover:text-blue-500"
                href="https://www.youtube.com/@CyberThrob"
                target="_blank"
            >
                Youtube
            </a>
            <a
                class="hover:text-blue-500"
                href="https://x.com/"
                target="_blank"
            >
                X
            </a>
        </section>

        <section class="flex flex-col">
            <h1 class="font-bold text-2xl mb-0">Store</h1>
            <a
                class="hover:text-blue-500"
                href="https://www.youtube.com/@7Jcdev/"
                target="_blank"
            >
                Itch.io
            </a>
        </section>
    </div>
</footer>
